// VARIABLES

// Buttons
$Button-Primary-Enabled: #ff8658;
$Button-Primary-Hover: #ff966e;
$Button-Primary-Pressed: #f57645;
$Button-Primary-Disabled: #fbbfa8;

$Button-Secondary-Anabled: #7155c6;
$Button-Secondary-Hover: #7b5ae2;
$Button-Secondary-Pressed: #6b51ba;
$Button-Secondary-Disabled: #e4e2eb;

// Text
$Text-Primary-Light: #ffffff;
$Text-Primary: #1c222e;

$Text-Accent-Enabled: #6c56b0;
$Text-Accent-Hover: #896edc;
$Text-Accent-Pressed: #59429f;

$Text-Secondary: #6a7998;
$Text-Tertiary: #99a7c4;

$Text-Accent-Disabled: #c4bae2;
$Text-Service-Error: #af052f;
$Text-Service-Warning: #c87f05;
$Text-Service-Success: #60994e;

// Icon

$Icon-Primary-Light: #ffffff;
$Icon-Primary: #1c222e;

$Icon-Accent-Enabled: #6c56b0;
$Icon-Accent-Hover: #896edc;
$Icon-Accent-Pressed: #59429f;

$Icon-Accent-Disabled: #b4b1bd;
$Icon-Service-Error: #e9305d;
$Icon-Service-Warning: #f3a015;
$Icon-Service-Success: #7cbc68;

// Background

$Background-Primary-Light: #ffffff;
$Background-Primary: #1b2143;
$Background-Background: #f9f8fd;
$Background-Accent: #e7e5f0;
$Background-Error: #f8e3e9;

// Inputs

$Input-Enabled: #d2d2d2;
$Input-Hover: #7155c6;
$Input-Focused: #6b51ba;

// Font-size

@mixin text-big {
  font-size: 2.2rem;
  line-height: 3.2rem;
}

@mixin text-small {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
}

@mixin button-big {
  font-weight: 500;
  font-size: 1.8rem;
}

@mixin button-big {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
}
