@import "../../../styles/variables.scss";

.actions {
  display: flex;
  align-items: center;
  gap: 3rem;

  @media screen and (max-width: $tablet-small-2) {
    flex-direction: column;
    gap: 1rem;
  }
}
