@import "../../../styles/variables.scss";

.header,
.left,
.right,
.nav,
.location {
  display: flex;
  align-items: center;
}

.nav {
  @media screen and (max-width: $tablet-big) {
    gap: 2rem;
  }
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: space-between;
  background-color: #fff;

  @media screen and (max-width: $desktop) {
    flex-wrap: wrap;
  }

  @media screen and (max-width: $tablet-big) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.left {
  gap: 4rem;

  @media screen and (max-width: $desktop) {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  @media screen and (max-width: $tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.right {
  gap: 1.6rem;
  position: relative;
}

.location {
  p {
    color: $Text-Secondary;
  }

  &__button {
    @media screen and (max-width: $tablet-big) {
      color: $Text-Secondary;
    }
  }
}

.actions {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;

  @media screen and (max-width: $tablet-big) {
    flex-direction: column;
    width: 100%;
  }
}
