@import "../../../styles/variables.scss";

.searchBar {
  display: flex;
  gap: 2rem;
}

.search {
  display: flex;
  align-items: center;
  background: $Button-Secondary-Anabled;
  border: 1px solid $Button-Secondary-Anabled;
  border-radius: 8px;
  flex-grow: 1;
}
