@import "../../../styles/variables.scss";

.list {
  display: grid;
  gap: 2rem;

  &__module {
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));

    @media screen and (max-width: $tablet-small) {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }

    @media screen and (max-width: $tablet-small-2) {
      grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    }
  }

  &__list {
    grid-template-columns: 1fr;
  }
}
