@import "../../../styles/variables.scss";

.container {
  background-color: #fff;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorite {
  height: 2.4rem;
  width: 2.4rem;
  transition: all 0.3s;

  &__full,
  &:hover {
    fill: $Icon-Service-Error;
    stroke: $Icon-Service-Error;
    stroke-width: 2;
  }

  &__border {
    fill: none;
    stroke: $Icon-Primary;
    stroke-width: 2;
  }
}
